* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(55, 45, 207, 0.85);
}
.error {
    color: red;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
    align-self: center;
    justify-self: center;
}
.container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    gap: 50px;
}
header {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
header > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.list,
.grid {
    cursor: pointer;
}
.active-view {
    filter: invert(59%) sepia(56%) saturate(5205%) hue-rotate(160deg)
        brightness(93%) contrast(105%);
}
main {
    display: grid;
    gap: 20px;
    width: 100%;
}
.img-container {
    display: flex;
    gap: 10px;
    justify-content: stretch;
    padding: 2px;
    border: 5px solid black;
    background-color: #5a7cca;
}
.img-container a {
    color: #b8ff0c;
    text-decoration: none;
    cursor: pointer;
}
main img {
    object-fit: contain;
    max-height: 300px;
    max-width: 100%;
}
.img-a {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main.list {
    grid-template-columns: 1fr;
    justify-items: start;
}
main.list > .img-container {
    width: 100%;
}
main.grid > .img-container {
    flex-direction: column;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.profile-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    display: inline;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Desktop*/
@media screen and (min-width: 1000px) {
    main.grid {
        grid-template-columns: repeat(3, calc(33% - 10px));
    }
    header img {
        width: 40px;
        height: 40px;
    }
    h1 {
        font-size: 52px;
    }
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 999px) {
    main.grid {
        grid-template-columns: repeat(2, calc(50% - 10px));
    }
    header img {
        width: 20px;
        height: 20px;
    }
    h1 {
        font-size: 30px;
    }
    main img {
        min-height: 1px;
    }
}

/*Mobile*/
@media screen and (max-width: 599px) {
    main.grid {
        grid-template-columns: repeat(2, calc(50% - 5px));
        gap: 10px;
    }
    header img {
        width: 20px;
        height: 20px;
    }
    h1 {
        font-size: 30px;
    }
    main img {
        min-height: 1px;
    }
}
